<form method="post" class="mealform">
    {% csrf_token %}
    {% load widget_tweaks %}

    <h5 class="mealform__date">[[activeDateFormatted]]</h5>
    <small class="mealform__helptext">Add a meal</small>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">{{form.name.label}}</label>
        </div>
        {% render_field form.name class="form-control" %}
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="id_mealtime">{{form.mealtime.label}}</label>
        </div>
        {% render_field form.mealtime v-model="mealTime" class="custom-select" %}
    </div>

    <div style="display:none;" class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="id_mealtime">{{form.date.label}}</label>
        </div>
        {% render_field form.date v-model="activeDate" class="form-control" %}
    </div>

    <div class="checkbox-group">
        <h6>{{form.members.label_tag}}</h6>
        {% render_field form.members checked=true %}
    </div>

    <input type="hidden" name="page" id="page" v-model="page">
    <input type="hidden" name="activeIndex" id="activeIndex" v-model="activeCardIndex">

    <input type="submit" value="Add" class="btn btn-sm btn-primary">

</form>