{% load static %}

<article v-for="(day, i) in schedule" class="card" :class="{ 
    'card--active': activeCardIndex === i }" @click="setActiveIndex(day, i)" v-on:click="activeDate = day.dateForForm">
    <h5 class="card__date">[[day.date]]</h5>

    <section v-if="mealTime == 'Breakfast'">
        <h6 class="card__mealtime card__mealtime--breakfast">Breakfast</h6>
        <ul class="card__meals">
            <li class="card__meal card__meal--breakfast" v-for="breakfast in day.breakfasts">
                <span class="card__meal__name">[[breakfast.name]]</span>

                <ul class="card__meal--members">
                    <li v-for="member in breakfast.members">
                        [[member]]
                    </li>
                </ul>

                <a v-on:click="deleteMeal(breakfast.id)" class="card__meal__delete">
                    <img src="{% static 'icons/exit.svg' %}" alt="Delete Meal">
                </a>
            </li>
        </ul>
    </section>

    <section v-if="mealTime == 'Lunch'">
        <h6 class="card__mealtime card__mealtime--lunch">Lunch</h6>
        <ul class="card__meals">
            <li class="card__meal card__meal--lunch" v-for="lunch in day.lunches">
                <span class="card__meal__name">[[lunch.name]]</span>

                <ul class="card__meal--members">
                    <li v-for="member in lunch.members">
                        [[member]]
                    </li>
                </ul>

                <a v-on:click="deleteMeal(lunch.id)" class="card__meal__delete">
                    <img src="{% static 'icons/exit.svg' %}" alt="Delete Meal">
                </a>
            </li>
        </ul>
    </section>

    <section v-if="mealTime == 'Dinner'">
        <h6 class="card__mealtime card__mealtime--dinner">Dinner</h6>
        <ul class="card__meals">
            <li class="card__meal card__meal--dinner" v-for="dinner in day.dinners">
                <span class="card__meal__name">[[dinner.name]]</span>

                <ul class="card__meal--members">
                    <li v-for="member in dinner.members">
                        [[member]]
                    </li>
                </ul>

                <a v-on:click="deleteMeal(dinner.id)" class="card__meal__delete">
                    <img src="{% static 'icons/exit.svg' %}" alt="Delete Meal">
                </a>


            </li>
        </ul>

    </section>
    <a class="card__expand" v-bind:href="mealDetail(day.dateForForm)"><img src="{% static 'icons/expand.svg' %}"
            alt="view full details"></a>
    <div class="card__overlay"></div>
</article>