<article class="datecard">
    <h5>Monday 13th October</h5>

    <section class="mealscard">
        <div class="mealscard__breakfast">
            <h6>Breakfast</h6>
            <a href="#" class="btn btn-sm btn-outline-dark mealscard__add"> + </a>
        </div>
        <div class="mealscard__lunch">
            <h6>Lunch</h6>
            <a href="#" class="btn btn-sm btn-outline-dark mealscard__add"> + </a>
        </div>
        <div class="mealscard__dinner">
            <h6>Dinner</h6>
            <a href="#" class="btn btn-sm btn-outline-dark mealscard__add"> + </a>
        </div>
    </section>
</article>