{% extends 'core/base.html' %}

{% load widget_tweaks %}
{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="container">
    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.errors %}
            <div class="alert alert-danger">
                {% for error in field.errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>

            {% endif %}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
</div>

{% else %}

<div class="container">
    <h3>Something's Wrong</h3>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.
    </p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
</div>

{% endif %}
{% endblock %}