{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.errors %}
            <div class="alert alert-danger">
                {% for error in field.errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>

            {% endif %}
        </div>
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Login">
        <small><a href="#">Forgot your password?</a></small>
    </form>
</div>


{% endblock %}