{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h6>Meal List</h6>
    <a href="{% url 'add_meal' %}" class="btn btn-primary">Add Meal</a>
</div>

<div class="col-md-4">
    {% for meal in meals %}
    <div class="card">
        <h5 class="card-title">{{meal.name}}</h5>
        <h6 class="card-subtitle">{{meal.date | date:"D d M" }}</h6>

        <div class="card-body col-md">
            {% for member in meal.members.all %}
            <img width=32 height=32 src={{member.photo.url}} alt={{member.name}} />
            <small>{{member.name}}</small>
            {% endfor %}
            <a href="{% url 'update_meal' meal.id%}" class="btn btn-outline-info">Update</a>
        </div>

    </div>
    {% endfor %}

</div>


{% endblock %}