{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
<script>dayjs.extend(window.dayjs_plugin_utc)</script>


<div id="app" class="meallist">

    <div class="meallist__controls">
        {% include 'partials/addmealform.html' %}
        {% include 'partials/memberfilter.html' %}
    </div>

    <div class="meallist__calendar">

        {% include 'partials/mealtimecontrols.html' %}

        <div class="meallist__calendar__cards">
            {% include 'partials/mealscard.html' %}
        </div>

        <div class="meallist__calendar__datecontrols">
            <button v-on:click="page -= 1" class="btn btn-sm btn-outline-secondary">Prev</button>
            <button v-on:click="goToday" class="btn btn-sm btn-outline-secondary">Today</button>
            <button v-on:click="page += 1" class="btn btn-sm btn-outline-secondary">Next</button>
        </div>
    </div>
</div>


<script>

    const meals = JSON.parse(`{{ meals| safe }}`)
    const memberNames = JSON.parse(`{{ member_names | safe }}`)

    const defaultMealtime = `{{ default_mealtime | safe}}`
    const activeDate = `{{ active_date | safe }}`
    const activePage = parseInt(`{{ active_page | safe}}`)
    const activeIndex = parseInt(`{{ active_index | safe }}`)

    console.log(meals)

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',

        data: {
            meals: meals,
            daysPerPage: 6,
            page: activePage,
            activeCardIndex: activeIndex,
            activeDate: activeDate,
            formMealTime: '',
            formMeal: null,
            showMeals: true,
            mealTime: defaultMealtime,
            checkedMembers: memberNames,
        },

        methods: {
            setActiveIndex(day, i) {
                this.activeCardIndex = i
            },

            goToday() {
                this.page = 0
                this.activeCardIndex = 0
            },

            deleteMeal(id) {

                async function deleteFromDB(id) {
                    const res = await fetch(`delete/${id}`)
                    const data = res.json()
                    return data
                }

                deleteFromDB(id).then(data => {
                    if (data.status === 200) {
                        const mealIndex = this.meals.findIndex(meal => meal.id === id)
                        this.meals.splice(mealIndex, 1)
                    }
                })

            },


        },

        computed: {

            dates: function () {
                const day = dayjs()
                const pageStart = this.page * this.daysPerPage
                const pageEnd = pageStart + this.daysPerPage

                const dates = []

                for (let i = pageStart; i < pageEnd; i++) {
                    dates.push(day.add(i, 'day'))
                }

                return dates
            },

            schedule: function () {

                const list = this.dates.map(date => {

                    // const daysMeals = meals.filter(x => x.date == date.format('YYYY-MM-DD'))

                    const daysMeals = this.meals.filter(meal => {
                        if (meal.date !== date.format('YYYY-MM-DD')) {
                            return false
                        }

                        const commonMembers = meal.members.filter(x => this.checkedMembers.includes(x))

                        if (commonMembers.length > 0) {
                            return true
                        } else {
                            return false
                        }

                    })

                    const breakfasts = daysMeals.filter(x => x.mealtime == 'Breakfast').sort((a, b) => a.id > b.id ? 1 : -1)
                    const lunches = daysMeals.filter(x => x.mealtime == 'Lunch').sort((a, b) => a.id > b.id ? 1 : -1)
                    const dinners = daysMeals.filter(x => x.mealtime == 'Dinner').sort((a, b) => a.id > b.id ? 1 : -1)

                    return {
                        date: date.format('dddd D MMMM'),
                        dateForForm: date.format('YYYY-MM-DD'),
                        meals: daysMeals,
                        breakfasts: breakfasts,
                        lunches: lunches,
                        dinners: dinners
                    }
                })

                return list
            },

            activeCardClass: function () {
                return {
                    'active--breakfast': this.mealTime == 'Breakfast',
                    'active--lunch': this.mealTime == 'Lunch',
                    'active--dinner': this.mealTime == 'Dinner'
                }

            },

            activeDateFormatted: function () {
                return dayjs(this.activeDate).format('dddd D MMMM')
            }
        }
    });
</script>

{% endblock %}