.mealform{
    width:300px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;

    &__date{
        margin-bottom:0;
    }

    &__helptext{
        display:block;
        padding:0.5rem 0.1rem;
        font-size:0.9rem;
        
    }

    li{
        list-style: none;
        margin-right:2rem;
    }

    input[type=checkbox]{
        margin-right:0.25rem;
    }

    input[type=submit]{
        position: absolute;
        right:0;
        bottom:0;
    }

}

.checkbox-group{
    width: 100%;
    padding-top:0.5rem;
    ul{
        padding-left: 0.5rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}