/* Breakfast */
$blue-1: #5494D8;
$blue-2: #72A5DC;
$blue-3: #A9C9EB;
$blue-4: #D4E4F5;

/* Lunch */
$purple-1: #7271BC;
$purple-2: #8E8DC9;
$purple-3: #B8B8DD;
$purple-4: #DCDBEE;

/* Dinner */
$teal-1: #47BBA2;
$teal-2: #6CC9B5;
$teal-3: #A3DDD0;
$teal-4: #D9F1EC;

$yellow-1: #D6E396;
$yellow-2: #DEE9AB;
$yellow-3: #EAF1CA;
$yellow-4: #F5F8E5;

$grey-1: #40414C;
$grey-2: #666770;
$grey-3: #9FA0A5;
$grey-4: #CFCFD2;