@import '_typography.scss';
@import '_form-controls.scss';
@import '_list_meals.scss';
@import '_profile.scss';
@import '_members.scss';
@import '_mealscard.scss';
@import '_addmealform.scss';
@import '_membertoggle.scss';
@import '_meal_manager.scss';

body{
    background:#FAFAFA;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

main{
    padding-top:2rem;
}